<md-content class="md-padding pad-ver-0">
  <form>
	  <md-input-container>
      <label>Name</label>
      <input ng-model="newTodo.name">
    </md-input-container>
	  <md-input-container>
      <label>Description</label>
      <input ng-model="newTodo.description">
	  </md-input-container>
	  <md-button class="md-raised" ng-click="add()">Add</md-button>
  </form>
	<md-button class="md-raised" ng-click="getPicture()">Take Picture</md-button>
	<img flex="10" width="100" ng-src="{{ newTodo.imageData }}" />
</md-content>

<md-list>
  <md-item ng-repeat="todo in todos">
	  <md-divider ng-if="$first"></md-divider>
	  <md-item-content class="md-tile-content" layout="row" layout-align="space-between" layout-wrap>
		  <md-button class="md-primary" flex="33" ng-href="/todos/{{todo._id}}">{{todo.name}}</md-button>
		  <md-button class="md-primary" flex="33">{{todo.description}}</md-button>
		  <md-button class="md-fab" aria-label="X" ng-click="remove(todo)">
			  <md-icon md-svg-src="ic_delete_24px.svg"></md-icon>
		  </md-button>
			<img width="100" height="100" ng-src="{{ todo.imageData }}" />
    </md-item-content>
	  <md-divider></md-divider>
  </md-item>
</md-list>
